<div class="p-4 d-flex flex-column gap-4">
  <h2>Search Nurses</h2>
  <div class="d-flex">
    <div class="d-flex gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path
          d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"
        />
      </svg>
      <p>Filter by:</p>
      <select name="field" id="field" #parameter class="px-2 rounded-4 col-2">
        <option value="id">id</option>
        <option value="name">name</option>
        <option value="first_surname">first surname</option>
        <option value="second_surname">second surname</option>
        <option value="email">email</option>
      </select>
      <input class="px-2 rounded-4" type="text" placeholder="" #nameInput />
    </div>

    <button
      (click)="getNursesByParameter(parameter.value, nameInput.value)"
      id="search-by-name"
      class="px-2 rounded-4 border-0 bg-warning"
    >
      Search
    </button>
  </div>
  <table
    class="table table-bordered"
    id="nurseByNameResult"
    *ngIf="nurses_users.length > 0; else noResults"
  >
    <thead>
      <tr>
        <th>Id</th>
        <th class="text-center">Profile Picture</th>
        <th>Name</th>
        <th>First Surname</th>
        <th>Second Surname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nurse of nurses_users">
        <td>{{ nurse.id }}</td>
        <td class="text-center">
          <img
            src="{{ nurse.profile_pic }}"
            class="img-fluid rounded"
            style="width: 50px; height: 50px; object-fit: cover"
          />
        </td>
        <td>{{ nurse.name }}</td>
        <td>{{ nurse.first_surname }}</td>
        <td>{{ nurse.second_surname }}</td>
        <td>{{ nurse.email }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noResults>
    <p>Nurse not found</p>
  </ng-template>
</div>
