<div class="p-4 d-flex flex-column gap-4">
    <h2>List all nurses</h2>
    <table class="table table-bordered" *ngIf="nurses_users.length > 0; else noResults">
        <thead>
            <tr>
                <th>Id</th>
                <th class="text-center">Profile Picture</th>
                <th>Name</th>
                <th>First Surname</th>
                <th>Second Surname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nurse of nurses_users">
                <td>{{ nurse.id }}</td>
                <td class="text-center">
                  <img [src]="nurse.profile_pic" 
                       class="img-fluid rounded" 
                       style="width: 50px; height: 50px; object-fit: cover;">
                </td>
                <td>{{ nurse.name }}</td>
                <td>{{ nurse.first_surname }}</td>
                <td>{{ nurse.second_surname }}</td>
                <td>{{ nurse.email }}</td>
              </tr>              
        </tbody>
    </table>

    <ng-template #noResults>
        <p>Nurse not found.</p>
    </ng-template>
</div>